	/* Items */
.container {
	display: block;
	max-width: 920px;
	margin: 0 auto;
	padding: 0 20px;
}
.left {
	text-align: left!important;
}
.innerCentered {
	text-align: center;
}
.selfCentered {
	display: block;
	margin: 0 auto;
}
.bold {
	font-weight: bold;
}
.separate {
	border-top: 1px solid #E1E1E1;
}

/* Buttons */
input + .button {
	margin-left: 30px;
}
@media all and (max-width: 740px) {
	input + .button {
		margin-left: 0;
		margin-top: 30px;
	}
}
@media all and (max-width: 740px) {
	input[name='email'] + button {
		margin-top: 20px;
	}
}
.button {
	min-width: 260px;
	height: 60px;
	line-height: 57px;
	background-color: #0086D4;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 1.125em;
	text-align: center;
	border: none;
	position: relative;
	z-index: 1;
}
@media all and (min-width: 741px) {
	.button:before {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		background: #01B9FF;
		content: ' ';
		z-index: -1;
	}
	.button:hover:before {
		height: 100%;
	}
}